@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


.nav-dark{
    background-color: rgb(0, 0, 0) !important;
    color: #e0feff !important;
}

.navbar-main{
    color:black !important;
    padding: 0.6rem 4rem;
    font-family: 'M PLUS 1p', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 99999999;
    border-bottom: 1px solid rgba(100, 100, 100, 0.288);
    height: 3.4rem;
}

.navbar-top{
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
}

.navbar-top>h2{
    font-size: 20px;
    cursor: pointer;
    font-family: system-ui;
    font-weight: 500;
    letter-spacing: 2px;
}



.navbar-bottom{
    /* padding: 0.5rem 1rem; */
    padding-right: 2rem;
    display: flex;
}


.navbar-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-menu>li>a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    padding-right: 1.3rem;
    font-size: 14px;
    font-family: system-ui;
    font-weight: 500;
    letter-spacing: 2px;
}



.navbar-dark{
    cursor: pointer;
    font-size: 20px;
}

.fa-solid.fa-moon{
    color:rgb(242, 255, 251);
}
.navbar-dark:hover{
    color: rgb(202, 191, 90) !important;
}

.navbar-logo{
    display: block;
}


.navbar-menu>li>a:hover{
    color: rgb(202, 191, 90) !important;
}

.navbar-burgir{
   display: none;
}




@media screen and (max-width:900px) {

    .navbar-main{

        color:rgb(242, 255, 251);
        flex-direction: row;
        padding: 0;
        z-index: 99;

    }

    .navbar-bottom{
        display: flex;
        background-color: rgb(27, 27, 27);
        position:absolute;
        width: 100%;
        align-items: center;
        justify-content: center;
        opacity: 0;
        top: -100%;
        transition : all 0.4s ease-in-out;
        padding-right: 0;
    }


    .navbar-bottom.active{
        opacity: 1;
        top: 0;
        z-index: 1;
    }

    .navbar-burgir{
        padding: 0.4em 1.8rem;
        z-index: 2;
        display: block;
        color:rgb(0, 0, 0);
        cursor: pointer;
    }
    .navbar-burgir>i{
        font-size: 22px;
    }

    .navbar-burgir:hover{
        color: rgb(202, 191, 90) !important;
    }

    .burgir-black{
        color:rgb(242, 255, 251);
    }

    .h2-active{
        color:rgb(95, 207, 173) !important;
    }

    

    .navbar-top>h2{
        z-index: 2;
        
    }

    .navbar-menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 70px 0px;
        width: 100%;
        text-align: center;
    }

    .navbar-menu>li{
        width: 100%;
        padding: 0.8rem 0rem;

    }

    .navbar-dark{
        position: absolute;
        top: 10px;
        right: 80px;
        padding: 0.4rem 1.8rem;
    }


    .navbar-top{
        display: flex;
        justify-content: space-between;
    }

    .navbar-menu>li>a{
        padding-right: 0rem;
        font-size: 29px;
        color:rgb(208, 244, 255);
    }

    .navbar-dark>i{
        color:rgb(114, 255, 213);
        font-size: 22px;
    }
}