
.projects-main{
    padding: 4rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}




.projects-main-top{
    margin: 0rem 2rem;
}
.projects-main-top>h3{
    color: rgb(94, 24, 24);
    font-size: 20px;
    text-decoration: underline;
}
.projects-main-top>h2{
    padding-top: 1rem;
}

.projects-main-bottom{
    padding:2rem 0rem;
    margin: 0rem 2rem;
}

@media screen and (max-width:700px) {
    .projects-main{
        padding: 4rem 1rem;
    }
}